.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.header-item{
    margin: 10px;
    font-size: 1.5rem;
    width: 50%;
}
#astronaut-logo{
    width: 500px;
}
@media screen and (max-width: 1400px) {
    #astronaut-logo{
        width: 300px;
    }
}
@media screen and (max-width: 780px) {
    .header-item{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 700px) {
    #astronaut-logo{
        width: 200px;
    }
    .header{
        flex-direction: column-reverse;
    }
    .header-item{
        text-align: center;
    }
}